<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="sistema"> Carnet de conducir </label>
    <input type="radio" value="si" id="si" name="carnetDeConducir" formControlName="carnetDeConducir" checked /> Si
    <input type="radio" value="no" id="no" name="carnetDeConducir" formControlName="carnetDeConducir" /> No
  </div>
  <p *ngIf="isFieldsShown">
    <label for="dni">DNI</label>
    <input type="text" id="dni" formControlName="nombre" />
  </p>
  <p *ngIf="isFieldsShown">
    <label for="fecha">Fecha de expedición del Carnet</label>
    <input type="date" id="fecha" formControlName="fechaExpedicion" />
  </p>
  <button type="submit">Submit</button>
</form>
<div *ngIf="isSubmitted">
  <p>DNI: {{ contactForm.get('nombre')?.value }}</p>
  <p>Fecha de expedición: {{ contactForm.get('fechaExpedicion')?.value }}</p>
</div>
<router-outlet />
